<div class="container" style="background-color: white">

  <h3>SERVICES</h3>
  <div class="row">
    <div class="col col-4">
      <h4>Web Development</h4>
      <img src="assets/images/web.jpeg" style="height: 150px;width: 300px">
      <p>
        Web development refers to building digital products that operate in web environments.
        It can be a simple website or a complex web application that includes dozens of services locked in a
        sophisticated
        architecture.
        The emergence of innovative web technologies and Application Programming Interfaces (APIs) allowed developers to
        build websites that plug into countless useful features.
        Moreover, web development services can now deliver applications to mobile devices that feel native and work
        smoothly.
      </p>
    </div>

    <div class="col col-4">
      <h4>Mobile Development</h4>
      <img src="assets/images/mobile.jpg" style="height: 150px;width: 300px">
      <p>
        Another key area in software development today focuses on building applications for mobile devices such as
        smartphones and tablets.
        The world of mobile app development is basically divided into two operating systems: Android and iOS.
        Developers can also build cross-platform applications or hybrid applications that take advantage of web
        technologies, for example, Progressive Web Apps.
        Mobile development is a versatile discipline where products range from mobile games to corporate systems.
      </p>
    </div>

    <div class="col col-4">
      <h4>Data Science</h4>
      <img src="assets/images/datascience.png" style="height: 150px;width: 300px">
      <p>
        Another key area of software development today is data science.
        Organizations of all sizes to generate plenty of data, but they can only unlock their value if they build
        analytics tools with the help of data scientists and software developers.
        To get actionable insights from data, data scientists mine and manipulate data with the help of analytical
        approaches, which are then used to build software solutions.
        Some of this software takes advantage of cutting-edge technologies such as machine learning that enable
        predictive
        analytics and help companies to become more proactive in delivering services to their end-users.
      </p>
    </div>
  </div>

</div>
